<div class="container">

<% @exercises.each do |exercise| %>
    <div class="row">
        <div class="card">
            <div class="card-content">
                <span class="card-title"><%= exercise["exercise_name"]%></span class="card-title">
                <p><%= exercise["description"]%></p>
            </div>
            <div class="card-action right-align">
                <a href="/exercises/<%= exercise["exercise_id"]%>/d">Challenge</a>
            </div>
        </div>
    </div>
<% end %>
</div>

<a href=""></a>

<div class="fixed-action-btn">
    <% if logged_in? %>
    <a class="btn-floating btn-large amber darken-2" href="/exercises/new"><i class="large material-icons">add</i>
    <% else %>
    <a class="btn-floating btn-large amber darken-2" href="/login"><i class="large material-icons">add</i>
    <% end %>
</a>

