<%# <div class="section center-align cover-image">
    <div class="hero-background"></div>
    <img class="hero-logo" src="/img/hercules-logo-removebg-preview.png" alt="hercules-logo">
    <h1 class="row title">Hercules</h1>
    <h5 class="row sub-title">Challenge yourself</h5>
    <form action="/exercises"><button class="btn-large waves-effect waves-light amber darken-2">Get Strong</button></form>
</div> %>

<div class="slider">
    <ul class="slides">
        <li>
            <img src="https://lorempixel.com/580/250/nature/1">
            <%# <img src="/img/hero-image.jpeg" alt="hero-image"> %>
            <div class="caption center-align">
                <h1>Hercules</h1>
                <h5 class="light grey-text">Challenge yourself</h5>
                <form action="/exercises"><button class="btn-large waves-effect waves-light amber darken-2">Get Strong</button></form>
            </div>
        </li>
    </ul>
</div>