<div class="container">
    <h1>Sorry! Your username or password did not work</h1>
    <form action="/users/new">
        <button class="btn waves-effect waves-light amber darken-2">create account</button>
    </form>

    <form action="/login">
        <button class="btn waves-effect waves-light amber darken-2">login again</button>
    </form>
</div>