<form action="/login" method="post">
    <label for="">email</label>
    <input type="email" name="email">
    <label for="">password</label>
    <input type="password" name="password">
    <button type="submit">submit</button>
</form>

<form action="/users/new">
    <button type="submit">Create account</button>
</form>