<div class="container">
<div class="section">
    <form action="/login" method="post">
        <div class="input-field">
            <label for="">email</label>
            <input type="email" name="email">
        </div>
        <div class="input-field">
            <label for="">password</label>
            <input type="password" name="password"> 
        </div>

        <div class="row">
            <button type="submit" class="btn waves-effect waves-light right amber darken-2" name="action">submit
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
</div>

<div class="divider"></div>

<div class="section">
    <div class="row">Haven't got a Hercules account?</div>
    <form action="/users/new">
        <button type="submit" class="btn-flat waves-effect waves-teal amber lighten-5">Create account</button>
    </form>
</div>
</div>