<form action="/users/new" method="post">
    <label for="">first name</label>
    <input type="text" name="first_name">

    <label for="">last name</label>
    <input type="text" name="last_name">

    <label for="">birth year</label>
    <input type="year" name="birth_year">

    <label for="">email</label>
    <input type="email" name="email">

    <label for="">password</label>
    <input type="password" name="password">
    
    <button type="submit">submit</button>
</form>