<form action="/workouts/new" method="post">
    <label for="">Workout name</label>
    <input type="text" name="workout_name">

    <label for="">Primary muscle group</label>
    <select name="primary_muscle_group[]" id="muscles" multiple="multiple">
        <option value="arms">arms</option>
        <option value="back">back</option>
        <option value="core">core</option>
        <option value="legs">legs</option>
        <option value="cardio">cardio</option>
    </select>

    <select class="js-example-basic-multiple" name="states[]" multiple="multiple">
        <option value="AL">Alabama</option>
        <option value="WY">Wyoming</option>
    </select>

    <button type="submit"></button>
</form>

<%# Show all exercises %>

