<div class="container">
    <form action="/users/new" method="post">
    <div class="row">
        <div class="input-field col s12 l6">
            <label for="">first name</label>
            <input type="text" name="first_name">
        </div>

        <div class="input-field col s12 l6">
            <label for="">last name</label>
            <input type="text" name="last_name">
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12 l6">
            <label for="">email</label>
            <input type="email" name="email">
        </div>

        <div class="input-field col s12 l6">
            <label for="">password</label>
            <input type="password" name="password">
        </div>
    </div>
    
    <div class="row">
        <div class="input-field col s12">
            <label for="">birth year</label>
            <input type="number" name="birth_year">
        </div>
    </div>
        
        <button type="submit" class="btn-large waves-effect waves-light amber darken-2 right">submit</button>
    </form>
</div>