<div class="container">

<h5>Welcome back, <%= @user["first_name"]%></h5>

<div class="divider"></div>

<div class="section">
    <h6>Your workouts this week</h6>
    <img src="https://via.placeholder.com/300" alt="">
    <%#%>
</div>

<div class="section">
    <h6>Time spent on body</h6>
    <img src="https://via.placeholder.com/300" alt="">
    <%#%>
</div>

<div class="section">
    <h6>Your top exercises</h6>
    <img src="https://via.placeholder.com/300" alt="">
    <%#%>
</div>

</div>