<%# Count down or count up %>

<div class="container">
    <h5><%= @exercise["exercise_name"] %></h5>
    <div class="section">
        <form action="/start/timer/<%= @exercise["exercise_id"]%>" method="post">
            <div class="row">
                <div class="input-field col s12">
                    <label for="reps">time (seconds)</label>
                    <input type="number" name="duration" value="0" class="timer">
                </div>
            </div>
            <div class="row">
                <button class="btn waves-effect waves-light amber darken-2 col s4 offset-s4">complete</button>
            </div>
        </form>
    </div>
    <div class="section">
        <div class="row">
            <button class="btn waves-effect waves-light amber col s5 timer-start">start</button>
            <div class="col s2"></div>
            <button class="btn waves-effect waves-light amber col s5 timer-pause">pause</button>
        </div>
    </div>
</div>

<script>

    var addSecond = function() {
        $('.timer')[0].value = Number($('.timer')[0].value) + 1;
    }
    var timerID = 0;

    $('.timer-start')[0].addEventListener('click', function(){
        timerID = setInterval(addSecond, 1000);
    });

    $('.timer-pause')[0].addEventListener('click', function(){
        clearInterval(timerID);
    });

</script>