html {
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
}

.nav-logo {
    width: auto;
    height: 6vh;
    align-self: stretch;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.hero-logo {
    height: 200px;
    object-fit: cover;
}

.hero-background {
    position: absolute;
    left: 0;
    top: 0;
    background-image:image('/img/hero-image.jpeg');
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

.cover-image {
    height: 90vh;
}

.nav-icon {
    place-self: center;
}

.tabs .tab a.active {
    color: #ffc107 !important;
}

.chartWrapper {
    width: inherit;
    overflow-x: scroll;
}

.input-field input[type=email]:focus {
    border-bottom: 1px solid #ffc107 !important;
    box-shadow: 0 1px 0 0 #ffc107 !important;
}

.input-field input[type=password]:focus {
    border-bottom: 1px solid #ffc107 !important;
    box-shadow: 0 1px 0 0 #ffc107 !important;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #ffc107 !important;
    box-shadow: 0 1px 0 0 #ffc107 !important;
}

.input-field input[type=number]:focus {
    border-bottom: 1px solid #ffc107 !important;
    box-shadow: 0 1px 0 0 #ffc107 !important;
}

.exercise-carousel {
    max-height: 450px;
    display: flex;
    overflow: scroll;
}

.image-chart {
    width: 80vw;
}